language: cpp
compiler:
- gcc
os:
- linux

before_install:
  - sudo apt-get install -f
  - sudo dpkg --configure -a
  - sudo apt-get install -f
  - sudo apt-get install libsfml-dev 2.5 -y

script:
  - mkdir build
  - cd build
  - cmake ..
  - make

notifications:
  email: makcieml@gmail.com
