language: cpp
compiler: gcc
dist: xenial

before_install:
  - sudo apt-get update -y
  - sudo apt-get install libsfml-dev=2.5 -y
#wtf
script:
  - mkdir build
  - cd build
  - cmake ..
  - make

notifications:
  email: makcieml@gmail.com
