language: cpp
compiler:
- gcc
os:
- linux
addons:
  apt:
    packages:
      - libsfml-dev
      - libfreetype6-dev
      - libx11-dev
      - libxrandr-dev
      - libgl1-mesa-dev
      - libudev-dev
      - libopenal-dev
      - libflac-dev
      - libogg-dev
      - libvorbis-dev

script:
  - mkdir build
  - cd build
  - cmake ..
  - make

notifications:
  email: makcieml@gmail.com
